@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
}

body {
  background: #000;
}

.main {
  background: url(assets/images/homebg.jpg);
  height: 100vh;
  background-position: 45% 70%;
  background-repeat: no-repeat;
  position: relative;
  z-index: -10;
}

nav {
  /* background-color: blue; */
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
  top: 10px;
  align-items: center;
  position: relative;
  z-index: 10;
  font-weight: 600;
}

nav .logo {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  top: 10px;
}

#langbtn {
  /* text-align: center; */
  color: white;
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid gray;
  font-size: 15px;
}

.lang,
.down {
  width: 15px;
  position: relative;
  top: 2px;
}

.lang {
  padding-right: 8px;
}

.down {
  background: none;
  color: #fff;
  padding-left: 8px;
}

.btn {
  background-color: red;
  color: white;
  padding: 3px 17px;
  font-size: 15px;
  border-radius: 4px;
  /* font-weight: 500; */
  border: none;
  margin: 0 8px;
  font-weight: 600;
}

.main .box {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.6;
}

.homeText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85%;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 30px;
}

.homeText :nth-child(2) {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

.homeText .btn {
  font-size: 25px;
  margin-top: 10px;
}

.btn .right {
  position: relative;
  top: 5px;
}

.seperation {
  height: 1vh;
  background: rgb(60, 60, 60);
}
.page{
  position: relative;
}
.section2 {
  /* border: 2px solid blue; */
  /* height: 78vh; */
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7vh 0;
  /* gap: 2vw; */
}

.sectionText {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 25px;
  text-align: left;
}

.sectionText :nth-child(1) {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  line-height: 10vh;
}
.secImg{
  position: relative;
}
.section2 video{
  position: absolute;
  z-index: -1;
}
.section2 .video1{
  top: 90px;
  left: 80px;
}
.section2 .video2{
  top: 20px;
  left: 75px;
  transform: scale(0.85);
}
.oversthings{
  position: absolute;
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    border: 1px solid white;
    border-radius: 10px;
    background: black;
    padding: 2vh;
    gap: 3vh;
    top: 130vh;
    left: 19vw;
    z-index: 100;
}
div.sttext{
  color: white;
}
.download{
  color: blue;
  font: 1em sans-serif;
}
